@import "tailwindcss";

@font-face {
  font-family: 'Satoshi';
  src: 
    url('../public/fonts/satoshi//Fonts/TTF/Satoshi-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
 



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
 font-family: 'Satoshi';
 font-weight: 400; /* Normal weight, can be any value between 100 and 900 */
 scroll-behavior: smooth;
}
